li a {
  display: block;
  width: 60px;
}
.navB {
  margin: 0;
  padding: 0.5cm;
  background-color: rgb(236, 154, 181);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.rest {
  float: right;
}

.daC {
  margin-top: 2cm;
}
.sI{
  width: .9cm;
  height: .9cm;
  margin-right: .25cm;
}

.sIs{
  width: .8cm;
  height: .8cm;
  margin-right: .25cm;
}
.boxD {
  height: 5cm;
  background-color: rgb(241, 206, 160);
  width: 76%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 1cm;
  border-radius: 25px;
  padding: 0.5cm;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hedboxD{
  font-weight: bold;
  margin-bottom: .25cm;
}

.pc {
  padding: 1cm;
  border-radius: 15px;
  margin-top: 3.5cm;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(190, 208, 241);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.youC{
  background-color: rgb(153, 183, 238);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:2cm;
  padding: 1cm;
  border-radius: 15px;
}

.inpc {
  margin-bottom: 0.25cm;
  border-radius: 15px;
  padding: 0.2cm;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chanboxinpc {
  max-height: 2.5cm;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tags {
  height: 2.5cm;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.er {
  color: red;
  text-align: center;
}

.crea{
  color: green;
  text-align: center;
  text-size-adjust: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
