.sbutton{
    background-color: #d4c0ff;
    color: grey;
    margin-top: 2cm;
    margin-bottom: 2cm;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bold;
}

.sign_up_div{
    padding: 00.5cm;
}

.sbut{
    font-weight: bold;
    background-color: #d4c0ffbd;
    color: grey;
    margin: 0.5cm;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.frow{
    margin-bottom: .25cm;
}

.errorMessage{
    color: tomato;
    margin-bottom: .25cm;
}